
 div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-filter {
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  background-color: hsl(180, 31%, 95%);
  border-radius: 5px 0px 0px 5px;
  color:hsl(180, 8%, 52%);
  font-size: 15px;
  font-weight: 700;
  margin: 3px 0px 3px 3px;
  padding: 10px;
}

.close {
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  background-color: hsl(180, 29%, 50%);
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  margin: 3px 3px 3px 0px;
  padding: 10px;
}


.close:hover {
  background-color:  hsl(180, 14%, 20%)
}
