<div class="detail">
  <div class="image">
    <img [src]="job.logo" [alt]="job.company" />
  </div>
  <div class="description">
    <h1>{{ job.company | titlecase }}</h1>
    <span class="badge-new" *ngIf="job.new">NEW!</span
    ><span class="badge-featured" *ngIf="job.featured">FEATURED</span>
    <h2>{{ job.position | titlecase }}</h2>
    <p>{{ job.postedAt }}</p>
    <span class="circle"></span> <span> {{ job.contract | titlecase }} </span>
    <span class="circle"></span> <span> {{ job.location | titlecase }} </span>
  </div>
</div>
